<div class="containerDiv" style="display: flex; flex-direction: column;">
    <mat-card *ngIf="favorites.length < 1" style="width: 100%;">
    <mat-card-content>
    <mat-icon>error</mat-icon> No favorites to show.
    </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let movie of favorites;" style="width: 100%;">
        <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <img src={{movie.imageURL}} alt= {{movie.title}} />
    </mat-card>
</div>
