<div class="homeWrapper">
    <div class="homeContainer">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h1>
         Florida In Film
        </h1></mat-card-title>
      </mat-card-header>
    <mat-card-content class="cardBody">
      <img mat-card-lg-image src="../assets/logo.png" sidt>
      <mat-card-actions>
        <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        color="primary"
      >
       Sign Up
      </button>
        <button
          mat-raised-button
          (click)="openUserLoginDialog()"
          color="primary"
        >
          Login
        </button>
    </mat-card-actions>
    </mat-card-content>
    </mat-card>
    </div>
    </div>
